body {
  margin: 0;
  overflow: hidden;
}

video, canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* ボタン */
#switchBtn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  padding: 10px 16px;
  font-size: 16px;
}
